<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcm.xxmst.basic.mapper.TeachersDetailsMapper">
    <resultMap id="BaseResultMap" type="tcm.xxmst.basic.dto.TeachersDetails">
        <result column="TEACHER_ID" property="teacherId" jdbcType="DECIMAL" />
        <result column="TECH_TYPE" property="techType" jdbcType="VARCHAR" />
        <result column="EDUCATION_TYPE" property="educationType" jdbcType="VARCHAR" />
        <result column="EDUCATION_SCHOOL" property="educationSchool" jdbcType="VARCHAR" />
        <result column="GRADURATION_DATE" property="gradurationDate" jdbcType="DATE" />
        <result column="TEACHER_NUM" property="teacherNum" jdbcType="VARCHAR" />
        <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
        <result column="BORN_DATE" property="bornDate" jdbcType="DATE" />
        <result column="EMAIL" property="email" jdbcType="VARCHAR" />
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
        <result column="JOIN_DATE" property="joinDate" jdbcType="DATE" />
        <result column="GENDER" property="gender" jdbcType="VARCHAR" />
        <result column="CERTIFICATE_TYPE" property="certificateType" jdbcType="VARCHAR" />
        <result column="CERTIFICATE_ID" property="certificateId" jdbcType="VARCHAR" />
        <result column="EFFECTIVE_START_DATE" property="effectiveStartDate" jdbcType="DATE" />
        <result column="EFFECTIVE_END_DATE" property="effectiveEndDate" jdbcType="DATE" />
        <result column="BANK_ACCOUNT" property="bankAccount" jdbcType="VARCHAR" />
        <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
        <result column="BANK_BRANCH_NAME" property="bankBranchName" jdbcType="VARCHAR" />
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>


</mapper>