<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcm.xxcse.basic.mapper.AttendClassRecordMapper">
    <resultMap id="BaseResultMap" type="tcm.xxcse.basic.dto.AttendClassRecord">
        <result column="ATTEND_ID" property="attendId" jdbcType="DECIMAL" />
        <result column="CLASS_STUDENT_ID" property="classStudentId" jdbcType="DECIMAL" />
        <result column="SCHEDULE_ID" property="scheduleId" jdbcType="DECIMAL" />
        <result column="START_DATETIME" property="startDatetime" jdbcType="DATE" />
        <result column="END_DATETIME" property="endDatetime" jdbcType="DATE" />
        <result column="SCORE" property="score" jdbcType="DECIMAL" />
        <result column="PERFOR_COMMENT" property="perforComment" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>


</mapper>