<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tcm.xxcse.basic.mapper.ClassStudentsMapper">
    <resultMap id="BaseResultMap" type="tcm.xxcse.basic.dto.ClassStudents">
        <result column="CLASS_STUDENT_ID" property="classStudentId" jdbcType="DECIMAL" />
        <result column="STUDENT_ID" property="studentId" jdbcType="DECIMAL" />
        <result column="CLASS_ID" property="classId" jdbcType="DECIMAL" />
        <result column="START_DATE" property="startDate" jdbcType="DATE" />
        <result column="END_DATE" property="endDate" jdbcType="DATE" />
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
        <result column="TEACHER_ID" property="teacherId" jdbcType="DECIMAL" />
        <result column="TEACHER_NAME" property="teacherName" jdbcType="VARCHAR" />
        <result column="TEACHER_NUM" property="teacherNum" jdbcType="VARCHAR" />
        <result column="CLASS_TYPE" property="classType" jdbcType="VARCHAR" />
        <result column="CLASS_NUM" property="classNum" jdbcType="VARCHAR" />
        <result column="CLASS_NAME" property="className" jdbcType="VARCHAR" />
        <result column="COURSE_CODE" property="courseCode" jdbcType="VARCHAR" />
        <result column="STUDENT_NUM" property="studentNum" jdbcType="VARCHAR" />
        <result column="STUDENT_NAME" property="studentName" jdbcType="VARCHAR" />
        <result column="PARENT_NAME" property="parentName" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryData" resultMap="BaseResultMap" parameterType="tcm.xxcse.basic.dto.ClassStudents">
        SELECT
            xcs.*,
            xci.CLASS_TYPE,
            xci.CLASS_NUM,
            xci.CLASS_NAME,
            xci.COURSE_CODE,
            xci.TEACHER_ID,
            xtd.TEACHER_NAME,
            xtd.TEACHER_NUM,
            xsd.STUDENT_NUM,
            xsd.STUDENT_NAME,
            xsd.PARENT_NAME
        FROM
            xxcse_class_info xci,
            xxmst_teachers_details xtd,
            xxcse_class_students xcs,
            xxmst_students_details xsd
        WHERE
            xtd.TEACHER_ID = xci.TEACHER_ID
        and xcs.CLASS_ID =xci.CLASS_ID
        and xsd.STUDENT_ID = xcs.STUDENT_ID
        <if test="teacherName != null">
            and xtd.TEACHER_NAME like CONCAT('%', #{teacherName},'%')
        </if>
        <if test="className != null">
            and xci.CLASS_NAME like CONCAT('%', #{className},'%')
        </if>
        <if test="courseCode != null">
            and xci.COURSE_CODE = #{courseCode}
        </if>
        <if test="studentName != null">
            and xsd.STUDENT_NAME like CONCAT('%', #{studentName},'%')
        </if>
        <if test="classId != null">
            and xci.CLASS_ID = #{classId}
        </if>
        <if test="classNum != null">
            and xci.CLASS_NUM = #{classNum}
        </if>
        order by xci.CLASS_NUM desc, xsd.STUDENT_NUM desc
    </select>
</mapper>